{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />

  <link href="{% static '/dist/css/bootstrap.min.css' %}" rel="stylesheet" />
  <!-- <link href="{% static 'style.css' %}" rel="stylesheet" /> -->
  <title>{% block title %}Local First{% endblock title %}</title>
</head>

<body>
  <!-- header start-->
  {% include "layout/header.html" %}
  
  <!-- header end-->

  <main>
    <h1 class="visually-hidden">Heroes section</h1>
    {% block content %}
    
    {% endblock content %}
  </main>

  <!-- footer start-->
  {% include "layout/footer.html" %}
  <!-- footer end-->

  <!-- Java script -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    
  <script src="{% static '/dist/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Project JS -->
  <script src="{% static 'style.js' %}"></script>
</body>

</html>